

.open-sans-font> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: 400;
  font-variation-settings:
    "wdth" 100;
}
.header{
    background-color:rgba(255, 144, 14, 0.10) ;
}
/* shared satyle*/
.disply-flex{
    display: flex;
}
/*nav related style*/
.nav-iteam{
    list-style: none;
    margin-right: 30px;
    
}
nav a{
    text-decoration: none;
}
.nav-link{
    font-weight: 500px;
    color: #424242;
   
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.navber , .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.brand{
    font-size: 3rem;
    font-weight: 700;
}
/*banner style*/
.btn-primary{
    background-color:rgba(255, 144, 14, 1.00) ;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1.25rem;
    font-weight: 600px;
    padding: 20px 25px;

}
main{
   max-width: 1440px;
   margin: 0 auto;
}
main>section{
    margin-top:130px
}
.banner-content{
    text-align: center;
    max-width: 850px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 64px;
    font-weight: 700;
    color:rgb(19, 19, 19)
    
}
.banner-description{
    font-weight: 400px;
    font-size: 16px;
    color:rgb(114, 114, 114) ;
}
.banner-img{
    width: 1440px;
    height: 700px;
    top: 577px;
    left: 240px;
    width: 100%;
}
.team{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    gap: 24px;
}
.our-features{
    margin-left: 130px
}
.features-title{
   color: #131313;
   font-size:45px;

}
.features-description{
    font-size: 16px;
    color: #rgb(114, 114, 114);
    
}
.facts-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);

}
.fact-card{
border: 1px solid rgb(255, 144, 14);
border-radius: 8px;
height: 240px;
align-items: center;
justify-content: center;
text-align: center;
weight:240px


}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
    color: #rgb(114, 114, 114);
    
}
.flex-description{
    max-width:540px;
}
.sponser-info{
    max-width: 540px;
    margin: 0 auto;
    text-align: center;
}
.sponser-companies{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.sponser-companies img{
    filter: grayscale(100%);
}
/*responsive media query*/
@media screen and(max-width:576px) {
    .navbar, .nav-link,.team{
        flex-direction: column;
    }
}
@media screen and(min-width:576px)and (max-width:992px){
    .team{
        flex-direction: column;
    }
}




